body {
  background-color: #081428;
  color: #C89B3B;
}

.card:hover {
  cursor: pointer;
  scale: 1.1;
}

.navbar-brand:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.item-transform:hover {
  transform: scale(1.1);
  cursor: pointer;
}