body{
  background-color: #081428;
  color: white;
  font-family: 'Beaufort for LOL' ;
}

h1, h2, h3 {
  color :#C89B3C
}

.navbar {
  border-bottom: 2px solid #C89B3C;
  background-color: #081428;
}

.card:hover {
  cursor: pointer;
  scale: 1.1;
}

.navbar-brand:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.item-transform:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.skill-card img {
  transition: transform 0.3s ease;
}

.skill-card img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card {
  background-color:#081428;
  color : white
}

.form-control {
  outline: none;
}

.form-control:focus {
  border:#C89B3C solid 3px;
  box-shadow: none;
  outline: none;
}

.game-placeholder::placeholder {
  color: white !important;
}

.tag-button {
  background-color: #C89B3C;
  border: none;
  transition: transform 0.3s ease;
}

.tag-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* * {
  border : solid red 2px;
} */
