body {
  background-color: #081428;
  color: white;
  font-family: 'Beaufort for LOL' ;
}

h1, h2, h3 {
  color :#C89B3C
}

.card:hover {
  cursor: pointer;
  scale: 1.1;
}

.navbar-brand:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.item-transform:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.skill-card img {
  transition: transform 0.3s ease;
}

.skill-card img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card {
  background-color:#081428;
  color : white
}